{% extends "layout.html" %}

{% block title %}

    Instructions

{% endblock %}

{% block main %}
<div class="i container">
    <p>Instructions</p>
    <hr>
    <ol type="1">
        <li style="text-align: left">Click "Sign Up" in order to create your account if your new. Else, if you're a returning user, press "Log In"</li>
        <li style="text-align: left">Once you've finished creating your account, the next step is to Log In</li>
        <li style="text-align: left">Now that you are logged in, more options should appear in the navigation bar. These include "Add Friend", "Table", and "Summary"</li>
        <li style="text-align: left">Use "Add Friend" to give you access to your friend's time table</li>
        <li style="text-align: left">"Table" should be used to create your own time table</li>
        <li style="text-align: left">Finally, "Summary" will actually display the classes you have with your friend or friends along with the subject and period.</li>
    </ol>
</div>

{% endblock %}